<section class="blocks py-16">
  <div class="md:flex sm:container sm:mx-auto mx-4">
    <div class="mr-4 md:w-1/2 w-full">
      <a href="#">
        <div class="flex w-full bg-green-700 hover:bg-gold mb-4 flex-col">
          <img
            class="px-4 w-52 self-center py-20"
            src="/assets/img/partners.svg"
            alt="partners"
          />
          <h3 class="pb-8 pl-8 text-white uppercase text-2xl font-semibold">
            Стать партнером
          </h3>
        </div>
      </a>
      <div class="md:container flex md:mt-8 my-4">
        <div class="w-1/2 mr-2 md:ml-4">
          <a href="#">
            <div
              class="
                flex
                justify-between
                flex-col
                md:h-72
                h-48
                w-full
                bg-green-700
                hover:bg-gold
              "
            >
              <img
                class="px-4 w-28 md:w-32 self-center pt-6 md:pt-12"
                src="/assets/img/tree-project.svg"
                alt="partners"
              />
              <h3
                class="
                  md:pl-8
                  px-2
                  pb-3
                  md:pb-8
                  text-white
                  uppercase
                  text-base
                  md:text-2xl
                  font-semibold
                "
              >
                Проект Дерево в Раю
              </h3>
            </div>
          </a>
        </div>
        <div class="w-1/2 ml-2 md:ml-4">
          <a href="#">
            <div
              class="
                flex
                justify-between
                flex-col
                md:h-72
                h-48
                w-full
                bg-green-700
                hover:bg-gold
              "
            >
              <img
                class="px-4 w-28 md:w-32 self-center pt-6 md:pt-12"
                src="/assets/img/volunteer.svg"
                alt="volunteer"
              />
              <h3
                class="
                  md:pl-8
                  px-2
                  pb-3
                  md:pb-8
                  text-white
                  uppercase
                  text-base
                  md:text-2xl
                  font-semibold
                "
              >
                Стать волонтером
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="md:w-1/2 w-ful">
      <div class="container flex mb-8">
        <div class="w-1/2 mx-4">
          <a href="#">
            <div
              class="
                flex
                justify-between
                flex-col
                h-72
                w-full
                bg-green-700
                hover:bg-gold
              "
            >
              <img
                class="px-4 w-36 self-center pt-12"
                src="/assets/img/donor.svg"
                alt="partners"
              />
              <h3 class="pl-8 pb-8 text-white uppercase text-2xl font-semibold">
                Стать донором
              </h3>
            </div>
          </a>
        </div>
        <div class="w-1/2 ml-4">
          <a href="#">
            <div
              class="
                flex
                justify-between
                flex-col
                h-72
                w-full
                bg-green-700
                hover:bg-gold
              "
            >
              <img
                class="px-4 w-44 self-center pt-12"
                src="/assets/img/help-us.svg"
                alt="help-us"
              />
              <h3 class="pl-8 pb-8 text-white uppercase text-2xl font-semibold">
                Помочь нам
              </h3>
            </div>
          </a>
        </div>
      </div>
      <a href="#">
        <div class="flex flex-col w-full bg-green-700 hover:bg-gold mb-4 ml-4">
          <img
            class="px-4 w-48 self-center pb-28 pt-32"
            src="/assets/img/donate.svg"
            alt="partners"
          />
          <h3 class="pb-8 pl-8 text-white uppercase text-2xl font-semibold">
            Поддержать проекты
          </h3>
        </div>
      </a>
    </div>
  </div>
</section>
