<section class="donate pb-16">
  <div class="sm:container sm:mx-auto mx-4">
    <div class="relative">
      <div
        class="
          sm:absolute
          lg:top-12
          sm:top-8
          sm:left-10
          top-40
          lg:left-20
          xl:left-44
          2xl:top-32
          sm:text-white
        "
      >
        <h2
          class="
            font-tahoma
            text-3xl
            font-bold
            text-xl
            sm:text-3xl
            lg:text-4xl
            2xl:text-5xl
            sm:w-3/4
            lg:w-full
            font-bold
            sm:text-shadow-donate
          "
        >
          Нам нужна ваша помощь
        </h2>
        <div class="sm:hidden line bg-green-700 h-1 w-20 my-2.5"></div>
        <div
          class="
            sm:text-base
            lg:text-xl
            2xl:text-2xl
            2xl:w-full
            sm:w-3/4
            lg:w-4/5
            lg:my-4
            sm:pt-5
            subtitle
            text-gray-500
            sm:text-white
            mb-2
          "
        >
          Для реализации проектов нашей организации нужна поддержка
        </div>
        <a href="#">
          <div
            class="
              absolute
              mt-6
              ml-2
              inline-block
              sm:bg-gold
              bg-white
              text-gray-800
              py-3
              px-4
              sm:text-white
              sm:mt-2
              sm:ml-0
              sm:text-xl
              hover:bg-white
              hover:text-green-500
              duration-200
            "
          >
            Помочь команде добра
          </div>
        </a>
      </div>
      <div class="bnr-image">
        <img
          class="
            w-full
            h-72
            object-cover object-donate-mob
            lg:object-contain
            lg:h-auto
          "
          src="/assets/img/donate-banner.jpg"
          alt="donate"
        />
      </div>
    </div>
  </div>
</section>
