<section class="footer pb-16">
  <div class="sm:container sm:mx-auto mx-4">
    <div class="bg-gold h-1 mb-10"></div>

    <div class="flex flex-wrap">
      <div class="w-full sm:w-1/2 mb-6">
        <div class="flex footer-block-left">
          <img src="/assets/img/reports-logo.svg" alt="logo" />
          <div class="text-base md:text-lg ml-8 font-semibold">
            <ul>
              <li>Телефон: +7 (928) 645-55-39</li>
              <li>Email: bkhayra@mail.ru</li>
              <li>Адрес: г.Грозный, улица Сайханова 53</li>
              <li class="mt-4 underline">Наши реквизиты</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2">
        <div class="flex sm:justify-end mb-4">
          <ul class="sm:flex hidden">
            <li class="px-4 font-semibold text-lg">Кто мы</li>
            <li class="px-4 font-semibold text-lg">Чем занимаемся</li>
            <li class="px-4 font-semibold text-lg">Контакты</li>
          </ul>
        </div>
        <div class="flex mt-4 sm:mt-8 justify-between">
          <div class="sm:flex hidden items-end mr-8">
            <img class="px-1" src="/assets/img/fb-small.png" alt="fb" />
            <img class="px-1" src="/assets/img/insta-small.png" alt="insta" />
            <img class="px-1" src="/assets/img/tw-small.png" alt="tw" />
            <img class="px-1" src="/assets/img/vk-small.png" alt="vk" />
            <img class="px-1" src="/assets/img/ok-small.png" alt="ok" />
            <img class="px-1" src="/assets/img/yt-small.png" alt="yt" />
          </div>

          <div
            class="footer-text text-center text-sm md:text-base sm:text-left"
          >
            <a href="#">
              Информация по оплате банковской картой и возврате средств</a
            >
            <br />
            <a href="#">Положение об обработке персональных данных</a><br />
            <a href="#">Согласие на обработку персональных данных</a>
          </div>
          <div class="flex items-end ml-8">
            <img src="/assets/img/age.png" alt="age" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
