<section class="news py-8 lg:py-16">
  <div class="sm:container sm:mx-auto mx-4">
    <div class="flex justify-between">
      <div class="block-title">
        <h2 class="font-tahoma text-3xl font-bold">
          Страницы Хайра в социальных сетях
        </h2>
        <div class="line bg-green-700 h-1 w-20 my-2.5"></div>
        <div class="subtitle text-gray-500">
          Подпишитесь на обновления наших страниц
        </div>
      </div>
    </div>

    <div class="flex flex-wrap mt-16 justify-center">
      <img
        class="px-2 mb-4 w-24 md:w-auto"
        src="/assets/img/facebook.png"
        alt="facebook"
      />
      <img
        class="px-2 mb-4 w-24 md:w-auto"
        src="/assets/img/instagram.png"
        alt="instagram"
      />
      <img
        class="px-2 mb-4 w-24 md:w-auto"
        src="/assets/img/twitter.png"
        alt="twitter"
      />
      <img class="px-2 mb-4 w-24 md:w-auto" src="/assets/img/ok.png" alt="ok" />
      <img class="px-2 mb-4 w-24 md:w-auto" src="/assets/img/vk.png" alt="vk" />
      <img
        class="px-2 mb-4 w-24 md:w-auto"
        src="/assets/img/youtube.png"
        alt="youtube"
      />
    </div>
  </div>
</section>
