<section class="tree pb-16">
  <div
    class="
      container
      mx-auto
      bg-green-700 bg-tree-bg bg-no-repeat bg-auto bg-center
      py-16
    "
  >
    <div class="tree-text text-center text-white leading-tight font-open-sans">
      <div class="text-80px font-bold text-shadow-tree">22 250</div>
      <div class="text-64px font-bold uppercase">деревьев посажено</div>
      <div class="text-32px">В рамках проекта Дерево в Раю</div>
      <div class="text-xl pt-4">
        <a class="underline" href="#">Подробнее про акцию</a>
      </div>
    </div>
  </div>
</section>
