<section class="tree pb-16">
  <div
    class="
      sm:container
      sm:mx-auto
      bg-green-700 bg-tree-bg bg-no-repeat bg-auto
      xl:bg-center
      bg-contain
      lg:py-8
      py-8
      xl:py-16
      mx-3
    "
  >
    <div class="tree-text text-center text-white leading-tight font-open-sans">
      <div
        class="2xl:text-80px lg:text-6xl font-bold text-shadow-tree sm:text-4xl"
      >
        22 250
      </div>
      <div class="2xl:text-64px lg:text-5xl sm:text-2xl font-bold uppercase">
        деревьев посажено
      </div>
      <div class="2xl:text-32px md:text-2xl sm:text-2xl">
        В рамках проекта Дерево в Раю
      </div>
      <div class="text-xl pt-4 sm:text-base mob:text-sm">
        <a class="underline" href="#">Подробнее про акцию</a>
      </div>
    </div>
  </div>
</section>
